<!DOCTYPE html>
<html ng-app="store">
  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-controller="StoreController as store">
  	<h1>
  		{{'shop page' | uppercase}}
  	</h1>
  	<ul class = "list-group">
  	<li class="list-group-item" ng-repeat =" i in store.products | limitTo:4 |orderBy:'+price'">
    	<h3> {{i.name}} 
    	
   			<em class="pull-right"> {{i.price | currency}}</em>

   			<ul>
   				<img width="50" height="50" ng-src="{{i.images[1].full}}" ></img>
   			</ul>
   		</h3>
   	</li>

	</ul>


	<section ng-controller="PanelController as panel">
		<ul class ="nav nav-pills">
			<li ng-class ="{active: panel.checkTab(1)}">
				<a href ng-click="panel.setTab(1)">Description </a></li>
			<li ng-class ="{active: panel.checkTab(2)}">
				<a href ng-click="panel.setTab(2)">Sup </a></li>
			<li ng-class ="{active: panel.checkTab(3)}">
				<a href ng-click="panel.setTab(3)">Review </a></li>
		</ul>


		

			

		<p>
			{{store.products[panel.tab]}}
			Filler</br>
			Filler </br>
			Filler</br>

			<img width="50" height="50" ng-src="{{store.products[0].images[0].full}}" ></img>
		</p>

			{{tab}}
			{{store.products[tab].images[0].full}}
   			<!-- <img width="50" height="50" ng-src="store.products[tab].images[0].full" ></img> -->



			
		

	</section>

	<div ng-controller="StoreController as store">
		<div class="panel" >
				<h3>Reviews</h3>
		</div>
		<blockquote ng-repeat="i in store.products">
			<!-- {{i.reviews[0].stars}} -->
			<p ng-repeat="j in i.reviews">Stars Received: {{j.stars}}</p>
		</blockquote>
	</div>

	<form name="reviewForm">

		<blockquote>
			<b> Stars: {{review.stars}} </b></br>
			<b> Reviews: {{review.body}}</b></br>
			<cite>by: {{review.author}}</b>
		</blockquote>

		Stars: <select ng-model="review.stars">
			<option value="1">1 star</option>
			<option value="2">2 stars</option>
		</select></br>
		Review: <textarea ng-model="review.body"></textarea></br>
		<label> by: </label>
		<input ng-model="review.author" type="email" />
		<input type="submit" value="Submit"/>
	</br>
		<label>Test some input types</label>
		<input type="radio" value="red"/>
		<input type="checkbox" value="terms"/>

	</form>

  </body>
</html>
