<!DOCTYPE html>
<html>
<!-- http://campus.codeschool.com/courses/shaping-up-with-angular-js/level/1/section/3/video/1 -->
<head>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>

<body>

<div ng-app="" ng-init="name= 'caramel'">
 
<p>Input something in the input box:</p>
<p>Name: <input type="text" ng-model="name"></p>
<p>Color: <input type="text" ng-model="color" value="Red"></p>
<!-- <p ng-bind="name"></p> -->
<p ng-bind="color"> </p>

</div>

</body>
</html>
